<div class="container" *ngIf="forgotPasswordForm">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
            <h1>Forgot Password?</h1>
            <p class="text-muted">Enter your email to receive link for resetting password</p>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-envelope"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Enter your email" formControlName="email">
                </div>
                <div class="error text-danger" *ngIf="forgotPasswordForm.controls.email.invalid && forgotPasswordForm.controls.email.touched">
                  <em class="error invalid-feedback" *ngIf="forgotPasswordForm.controls.email.errors.required">
                    Please enter your email
                  </em>
                  <em class="error invalid-feedback" *ngIf="forgotPasswordForm.controls.email.errors.email">
                    Invalid email
                  </em>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <app-submit-button [form]="forgotPasswordForm" [text]="'Send Request'"></app-submit-button>                  
                </div>                
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>